{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    <h1 class="text-center">Welcome Back, {{ current_user.username }}!</h1>
{% else %}
    <h1 class="text-center">Hello Strangers, try out our new way to save contacts</h1>
    <p>A way that youll never lose your contacts again</p>
{% endif %}

{% for person in  contact %}
    <div class="card my-3">
        <div class="card-header">
        {{ person.first_name }} {{ person.last_name }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ person.phone_number }}</p>
            <p>{{ person.address }}</p>
            <footer class="blockquote-footer">{{ address.first_name}} on
                <cite title="Source Title">{{ address.date_created.strftime('%A, %B %d at %I:%M%p') }}</cite>
            </footer>
        </blockquote>
        <a href="{{ url_for('get_contact', address_id=address.id) }}" class="btn btn-primary mt-3">See More</a>
        </div>
    </div>
{% endfor %}
<!-- <div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div> -->