{% extends 'base.html' %}

{% block title %} Create A Post {% endblock %}

{% block content %}

<form action="" class="bg-white rounded mt-3 p-5" method="post">
    <h1 class="text-center">Create A contact</h1>
    {{ form.csrf_token }}

    {{ form.first_name.label }}
    {{ form.first_name(class='form-control', placeholder='Enter first name') }}

    {{ form.last_name.label }}
    {{ form.last_name(class='form-control', placeholder='Enter last name') }}

    {{ form.phone_number.label }}
    {{ form.phone_number(class='form-control', placeholder='Enter phone number') }}

    {{ form.address.label }}
    {{ form.address(class='form-control', placeholder='Enter address') }}

    {{ form.submit(class='btn btn-primary w-100 mt-3') }}
</form>

{% endblock %}
