{% extends 'base.html' %}

{% block title %} edit {{address.first_name}} {% endblock %}

{% block content %}

<form action="" class="bg-white rounded mt-3 p-5" method="post">
    <h1 class="text-center">edit contact</h1>
    {{ form.csrf_token }}

    {{ form.first_name.label }}
    {{ form.first_name(class='form-control') }}

    {{ form.last_name.label }}
    {{ form.last_name(class='form-control') }}

    {{ form.phone_number.label }}
    {{ form.phone_number(class='form-control') }}

    {{ form.address.label }}
    {{ form.address(class='form-control') }}

    {{ form.submit(class='btn btn-primary w-100 mt-3') }}
</form>

{% endblock %}